/* ----------- */
/*  Variables  */
/* ----------- */

:root {
    --tu-header-heigth: 4em;        /* Alçada del header */
    --tu-footer-heigth: 4em;        /* Alçada del footer */
    --tu-bg-grey: #ccc;           /* Color d'alguns fons */
    --tu-icon-size: 1.5rem;         /* Mesura de les icones */
    --tu-icon-hover-color: #777;  /* Color de les icones al fer-los hover */
}

/* -------- */
/*  Estils  */
/* -------- */

/* Declarem la mesura de les icones */
i {
    font-size: var(--tu-icon-size);
}

/* Certs elements necessiten un color de fons */
header#small-header button, header#big-header, main.tu-main button, footer {
    background: var(--tu-bg-grey);
}

/* -------- */
/*  Hovers  */
/* -------- */

button {
    transition: color 0.5s ease;
}

button:hover {
    color: var(--tu-icon-hover-color);
}

/* ------------ */
/*  Responsive  */
/* ------------ */

/* Declarem l'alçada del header */
body > header {
    height: var(--tu-header-heigth);
}

body > main {
    height: var(--tu-main-heigth);
}

/* Declarem l'alçada del footer */
body > footer {
    height: var(--tu-footer-heigth);
}

/* Declarem l'alçada del main en mode ordinador, que serà el total (100vh) menys la del header i del footer */
main.tu-main {
    height: calc(100vh - var(--tu-header-heigth) - var(--tu-footer-heigth));
}

/* En cas d'estar en pantalla reduïda, l'alçada serà tota menys la del header */
@media screen and (min-width: 576px) {
    main.tu-main {
        height: calc(100vh - var(--tu-header-heigth));
    }
}

/* -------- */
/*  PROVES  */
/* -------- */

/* Aquests estils són PROVISIONALS i només per fer proves */

/* POST */

body form {
    max-width: 30em;
}

textarea {
    resize: none;
    border: 1px black solid;
    border-radius: 5px;
}

.message {
    padding: 0.5em;
    margin-bottom: 1em;
}

.user-icon {
    width: 3em;
    height: 3em;
}

.btn-follow {
    width: fit-content;
    border: 1px black solid;
    border-radius: 15px;
    padding: 0 0.5em;
    text-align: center;
}

.btn-follow:hover {
    border: 1px black solid;
    background: #ccc;
}